.exprtModal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;
}

.exprtModal-bg {
  position: absolute;
  background: #333;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.exprtModal {
  height: 500px;
  width: 520px;
  background: #fff;
  border-radius: 10px;
  position: relative;
}

.exprtModal-closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 40px;
  width: 40px;
  outline: none;
  font-size: 20px;
}
